/* 
Top-styling */
.con {

    height: 60vh;
    width: 100%;
    background-image: url(imajes/edu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.content {
    min-height: 100vw;
    width: 100%;
    background-color: rgb(236, 207, 207);
    
    
}

.coa {

    
   margin-top: 6% ;
   padding-left: 1.5%;
    text-align: left;
}

.help {

    margin: 2% 0 0 2%;
}


.goodpics {

    width: 100%;
}


/* buttom-styling */

.coll{
    width: 50%;
 padding-left: 4%;
    display: flex;
}

.colll {
    width: 95%;
    padding-left:2%;
 
}

.flex-container{
    width: 100%;
    display: inline-flex;
    background-color: rgb(32, 28, 28);
}

.down-headings{
color: aqua;

}

.list li{
    list-style-type:none;
    
}

.list li a{
text-decoration: none;
color: aqua;

}

.list li a:hover{

    color: blueviolet;
}

.row-flex{
display: inline-flex;
gap: 8px;


}
.follow{
display: block;

  width: 100%;
}

.ul-inline-block{

    display: inline-block;
}

.navbar-toggler:hover{

background-color:rgb(236, 207, 207) ;
cursor: pointer;

}
.list{
padding-left:0.1px ;




}