/* 
   About styling */


.our {
    border: 0px;
}


.con-about {
    height: 20vh;
    width: 100%;
    background-image: url(imajes/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.mvv {


    width: 90%;
}



.mvi {
    width: 100%;
    margin-right: 40px;
}


.move {

    margin: 0 0 0 4%;
}


.bb {
    width: 120%;
    border: 1px solid rgb(195, 0, 255);
}

.flexcontainer {
    width: 120%;
    display: inline-flex;
    background-color: rgb(32, 28, 28);
    gap: 4%;

}


.iiy {
    margin-top: 4%;
}

.ddb {
    height: 5vh;
}

.rightt {

    margin-left: 12%;
}

.rame {
    text-align: center;
    height: 20vh;
    width: 40vw;
    margin: 2% 0 0 0;
}

.rame:hover {

    background-color: #007bff;

}